body{
    background-color: #F7F7F7
}
.service-container{
    text-align: center;
    width: 700px;
    position: relative;
    left: 24.45%;
}

.service-container h2{
    font-size: 36px;
    text-transform: capitalize;
    font-family: serif; 
    color: #333
}

.line1{
    background-color: #7cb62f;
    width: 80px;
    height: 5px;
    position: absolute;
    z-index: 10;
    left: 45%;
    top: 54px;
}

.line2{
    background-color: #dddddd;
    height: 2px;
    width: 150px;
    position: absolute;
    z-index: 2;
    left: 40%;
    top: 56px;
}

.service-container p{
    color: #333
}

.service{
    background-color: #fff;
    width: 360px;
    height: 293px;
    text-align: center;
    float: left;
    margin: 15px;
}

.image{
    background-color: #7cb62f;
    border-radius: 48px;
    height: 80px;
    width: 80px;
    position: relative;
    left: 39%;
    top: 12px;
    border: 4px solid #eeeeee;
}

.image img{
    margin-top: 14px;
    height: 50px;
    width: 50px;
}

.service h2{
    color: #333;
/*    margin-left: 23px;*/
    font-size: 30px;
}
.service p{
        word-spacing: 3px;
    line-height: 23px;
}
.container{
        margin-left: 85px;
}